---
language: ja
---
<!doctype html>
<html lang="{{ language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | 新宿御苑.dev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <main>{{ content }}</main>
  </body>
</html>
