body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > header {
    position: sticky;
    top: 0;
    background: white;
    display: flex;
    align-items: end;
    padding: 0 1rem;
    border-bottom: 1px solid;
    & > h1 {
      flex: 1;
      margin: 1rem 0;
      white-space: nowrap;
    }
    & > nav > ul {
      margin-bottom: 1rem;
      justify-content: end;
    }
    @media (max-width: 768px) {
      display: block;
    }
  }
  & > main {
    flex: 1;
    padding: 1rem;
  }
  & > footer {
    text-align: center;
    border-top: 1px solid #ccc;
    ul {
      justify-content: center;
    }
  }
  nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
    flex-wrap: wrap;
    & > li {
      margin: 0;
      white-space: nowrap;
    }
  }
}
